<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Movie</title>
    <link href="/public/style/style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-container">
        <div class="logo-container"><h1 class="logo">Metflix</h1></div>
        <div class="menu-container">
          <ul class="menu-list">
            <li class="menu-list-item" onclick="location.href='/'">Home</li>
            <li class="menu-list-item">All Movies</li>
            <li class="menu-list-item">Categories</li>
            <li class="menu-list-item" onclick="location.href='/addMovie'">
              Add Movie
            </li>
          </ul>
        </div>
        <div class="profile-container">
          <img
            class="profile-picture"
            src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_3.jpg"
            alt=""
          />
          <div class="profile-text-container">
            <span class="" profile-text>Profile</span>
            <i class="fa-solid fa-caret-down"></i>
          </div>
          <div class="toggle">
            <i class="fa-solid fa-moon toggle-icon"></i>
            <i class="fa-solid fa-sun toggle-icon"></i>
            <div class="toggle-ball"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h1 class="mb-4">Add Movie</h1>

      <form action="/addMovie" method="POST">
        <!-- after done goes to POST method-->

        <div class="container_addMovie">
          <div class="row">
            <div class="col-25">
              <label for="title">Title</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="title"
                name="title"
                placeholder="Enter Title"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="lname">Year</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="year"
                name="year"
                placeholder="Enter Year"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="generes">Generes</label>
            </div>
            <div class="col-75">
              <select id="category" name="category">
                <option value="Drama">Drama</option>
                <option value="Romance">Romance</option>
                <option value="Action">Action</option>
                <option value="Comedy">Comedy</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="description">Description</label>
            </div>
            <div class="col-75">
              <textarea
                id="description"
                name="description"
                placeholder="Write something.."
                style="height: 200px"
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="url">URL</label>
            </div>
            <div class="col-75">
              <textarea
                id="url"
                name="url"
                placeholder="Write URL"
                style="height: 200px"
              ></textarea>
            </div>
          </div>
        </div>
        <a href="/" class="btn btn-secondary">Cancel</a>
        <button type="submit">Save</button>
      </form>
    </div>

    <script type="text/javascript" src="../public/app.js"></script>
  </body>
</html>
